body.myfont {
  margin: 0;
  background: #f9f9f9;
  font: normal 400 16px/1.8 Lato;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
.container {
  max-width: 760px!important;
  padding-left: 0px;
  padding-right: 0px;
}
.mainContent {
	margin-top: 112px;
}
.formSection {
  background: #f9f9f9;
}
.content-section {
	background-color: #fff;
}
.navMrgin {
  margin: 17.5px 0px;
}
h2, h5 {
  font: normal 400 36px/1.4 Lato;
  color: #515357;
  text-transform: none;
  letter-spacing: 0px;
}
.categories {
  display: flex;
  margin: 20px 0px;
}
.catLabel {
  font-size: 14px;
  display: inline-block;
  font-weight: 600;
  margin-right: 10px;
  color: #808080;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.linkStyle {
  padding: 20px 0px;
}
.linkStyle h4 {
  margin: 40px 0;
}
a.navbar-brand {
  margin: 17.5px 0px;
}
.navbar {
  padding-top: 0px!important;
  padding-bottom: 0px!important;
}
.postHeader {
  padding: 20px 0px;
}
.formTitle h4 {
    margin: 40px 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font: normal 700 16px/1.4 Lato;
    color: #515357;
}
 form h4 {
    margin: 40px 0;
    font: normal 700 16px/1.4 Lato;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #515357;
}
.container form {
  padding-top: 25px;
}
label {
  font-size: 16px;
  line-height: 1.4;
  vertical-align: middle;
  width: 100%;
}
.formStyle {
  display: flex;
}
.selectFile-label svg {
  margin-right: 6px;
  margin-bottom: 2px;
}
input[type="text"] {
  border-radius: 3px;
  border-width: 1px;
  margin: 17.5px 0;
  border-style: solid;
  height: 39px;
  color: #515357;
  width: 100%;
  padding: 4px 4px 4px 15px;
}
input {
  border-radius: 4px;
  border-width: 1px;
  margin: 17.5px 0;
  border-style: solid;
  height: 39px;
  color: #515357;
  border-color: #e2e2e2;
  width: 100%;
  padding: 4px 4px 4px 15px;
}
label.labelMrgin {
  font-size: 16px;
  line-height: 1.4;
  vertical-align: middle;
  margin-top: 6px;
  width: 100%;
}
span.eeo-light-text {
  text-transform: none!important;
  font: normal 400 16px/1.8 Lato;
}
.rowMarBot {
  margin-bottom: 20px;
}
input:focus-visible {
  outline: none;
}
.col-md-6.col-lg-8 {
  margin-bottom: 27px;
}
li.customQuestion {
  list-style-type: none;
  padding: 0px 0px;
}
ul {
  padding-left: 0px !important;
}
textarea {
  /* padding-top: 10px; */
  resize: vertical;
  width: 100%;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  border-color: #e2e2e2;
  height: 40px;
  padding: 4px 4px 4px 15px;
  /* height: 130px; */
}
.mainFooter {
  /* position: absolute; */
  bottom: 0;
  width: 100%;
  height: 250px;
  margin: 0;  
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.mainFooter .footerText {
  text-align: center;
  padding: 40px 30px;
  max-width: 1080px;
  display: block;
  margin: 0 auto;
}
.mainFooter .footerText p {
  display: block;
  color: #7f838a;
  max-width: 500px;
  margin: 0px auto;
}
.mainFooter .footerText a {
  color: #579eee;
  position: relative;
  margin-left: 100px;
}
footer {
    color: #7f838a;
    background: #edeef1;
    margin-top: 103px;
}
a.imageLink {
  display: inline-block;
  color: #7f838a;
  margin: 40px 0px;
}
.templateBtn {
  margin: 17.5px 0px;
}
.hexColor {
  background: #4f65f1;
  border-color: #4b60e5;
  color: white;
}

.footerText a img {
  position: absolute;
  height: 22px;
  left: 13px;
}
.footerText a span {
  color: #7f838a;
  position: absolute;
  left: -122px;
  font-size: 16px;
}
.btnStyle {
  text-align: center;
  margin-top: 30px;
}

.selectFile {
	position: relative;
	width: 230px;
  height: 40px;
  background: #ebecf0;
  color: #9696a2;
  border: 1px solid #dfe0e4;
  padding: 8px 15px;
}

.selectFile input {
	opacity: 0;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 99;
	height: 40px;
	margin: 0;
	padding: 0;
	display: block;
	cursor: pointer;
	width: 100%;
}
.selectFile-label{
  color: #9696a2;
}
.w-100 select {
    height: 42px;
}
select.w-100 {
  background: #e2e2e2;
  border-color: transparent;
}
select.w-100:hover {
  background: #c0c0c0;
}
/* .capStyle {
  margin-left: 65px;
  text-align: center;
  margin-top: 10px;
} */
.CaptchaCont {
  margin-left: 248px;
}
.container.addStyle {
  padding-left: 0px!important;
  margin-top: 54px;
}
button.justify-content-center.btn.btn-primary.btn-lg {
  margin-left: 87px;
  text-transform: uppercase;
  font-size: 16px;
}
button.justify-content-center.btn.btn-primary.btn-lg:focus {
  outline: none!important;
  box-shadow: 1px 1px 5px rgba(1, 1, 0, .7);
}
svg {
  cursor: pointer;
  color: #737578;
  margin-bottom: 6px;
  margin-left: 2px;
}
.infoStyle p {
    color: #515357;
    font-size: 12px;
}
textarea:focus {
  outline: none!important;
}
select.w-100:focus {
  outline: none!important;
}